<p id="notice"><%= notice %></p>

<h1>Listing Question Sets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Question group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_sets.each do |question_set| %>
      <tr>
        <td><%= question_set.name %></td>
        <td><%= question_set.desc %></td>
        <td><%= question_set.question_group %></td>
        <td><%= link_to 'Show', question_set %></td>
        <td><%= link_to 'Edit', edit_question_set_path(question_set) %></td>
        <td><%= link_to 'Destroy', question_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question set', new_question_set_path %>
